#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans";
}

.titulo {
  font-family: "Bungee Spice";
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}
